<div class="row">
    <div class="col-md-10">
        <input type="text" class="form-control mb-3" placeholder="Filtrar por nombre" required
            (keyup)='updateFilter($event)'>

    </div>
    <div class="col-md-2">
        <button class="btn btn-primary" type="submit" style="width:100%" (click)="open(content)">Crear
            perfil</button>
    </div>
</div>
<ngx-datatable class=" selection-cell no-shadow rounded-0" [columnMode]="'standard'" [headerHeight]="40"
    [footerHeight]="0" [rowHeight]="40" [scrollbarV]="true" [scrollbarH]="true" [rows]="rows">

    <ngx-datatable-column [width]="130">
        <ng-template let-column="column" ngx-datatable-header-template>
            <span class="datatable-header-cell-label">Acción</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            <button type="button" class="btn btn-outline-primary" (click)="goToEdit(row)" title="Datacredito"
                style="height:30px">Editar</button>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Perfil" prop="perfil" [width]="400"></ngx-datatable-column>
    <ngx-datatable-column [width]="100">
        <ng-template let-column="column" ngx-datatable-header-template>
            <span class="datatable-header-cell-label">Estado</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span *ngIf="row.estado == '1'" class="badge badge-success">Activo</span>
            <span *ngIf="row.estado == '0'" class="badge badge-danger">Inactivo</span>
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Crear perfil</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <form [formGroup]="form">
            <div class="row">
                
                <div class="col-md-6">
                    <fieldset>
                        <div class="form-group">
                            <label for="disabledSelect">Nombre</label>
                            <input type="text" class="form-control" formControlName="nombre_perfil" name="nombre_perfil">
                        </div>
                    </fieldset>
                </div>

                <div class="col-md-6">
                    <fieldset>
                        <div class="form-group">
                            <label for="disabledSelect">Estado</label>
                            <select class="form-control" formControlName="estado" name="estado" id="estado">
                                <option value="1">Activo</option>
                                <option value="0">Inactivo</option>
                            </select>
                        </div>
                    </fieldset>
                </div>

            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="save()" [disabled]="!form.valid">Guardar perfil</button>
    </div>
</ng-template>