<div class="row">
    <div class="col-md-10">
        <input type="text" class="form-control mb-3" placeholder="Filtrar por nombre" required
            (keyup)='updateFilter($event)'>

    </div>
    <div class="col-md-2">
        <button class="btn btn-primary" type="submit" style="width:100%" routerLink="/offices/create">Crear
            oficina</button>
    </div>
</div>
<ngx-datatable class=" selection-cell no-shadow rounded-0" [columnMode]="'standard'" [headerHeight]="40"
    [footerHeight]="0" [rowHeight]="40" [scrollbarV]="true" [scrollbarH]="true" [rows]="rows">

    <ngx-datatable-column [width]="130">
        <ng-template let-column="column" ngx-datatable-header-template>
            <span class="datatable-header-cell-label">Acción</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            <button type="button" class="btn btn-outline-primary" (click)="goToEdit(row)"
                title="Datacredito" style="height:30px">Editar</button>

        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Oficina" prop="oficina" [width]="400"></ngx-datatable-column>
    <ngx-datatable-column [width]="200">
        <ng-template let-column="column" ngx-datatable-header-template>
            <span class="datatable-header-cell-label">Estado</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span *ngIf="row.estado == '1'" class="badge badge-success">Activo</span>
            <span *ngIf="row.estado == '0'" class="badge badge-danger">Inactivo</span>
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>


